<!--Lab Exercise 1, Ian Bangcoy 300702561, 10/4/2023-->

<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Welcome to my portfolio! This website will have information about who I am, what projects I've completed or am currently working on, 
        the services that I provide, and how to contact me.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>As a third-semester student pursuing a degree in Software Engineering, my mission is to cultivate a deep and versatile skill set in software development. 
        I am committed to fostering a growth mindset, embracing challenges as opportunities for learning, and contributing to the advancement of technology in innovative 
        and impactful ways. I aim to collaborate effectively with peers and mentors, continuously expand my knowledge of cutting-edge technologies, and prioritize ethical 
        considerations in software design and development. Through dedication, perseverance, and a passion for problem-solving, my goal is to become a proficient and responsible 
        software engineer, capable of creating solutions that positively influence society and the digital landscape</p>
    </div>
    <div class="col-sm-4"> 
      <p><img src="images/home.jpg" style="width: 300px;"></p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>
