<!--Lab Exercise 1, Ian Bangcoy 300702561, 10/4/2023-->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
        <h2>Frog game</h2>
        <img src="images/frog.jpg" style="width: 300px;">
      <p>Created a simple game where the user had to click on a frog, and every time the frog was successfully clicked, it would
        hop around faster and faster.
      </p>
      
    </div>
    <div class="col-sm-4"> 
        <h2>Real estate website</h2>
        <img src="images/house.jpg" style="width: 300px;">
      <p>Developed a real estate website as a final project for a class.</p>
    </div>
    <div class="col-sm-4"> 
        <h2>Calculator</h2>
        <img src="images/calculator.jpg" style="width: 300px;">
      <p>Produced a calculator caple of doing basic math problems.</p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>