<!--Lab Exercise 1, Ian Bangcoy 300702561, 10/4/2023-->

<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>
        <h2>Web Development</h2><img src="images/develop.jpg" style="width: 300px;"></p>
      
    </div>
    <div class="col-sm-4"> 
      <p>
        <h2>App Development</h2> <img src="images/app.jpg" style="width: 300px;">
      </p>
    </div>
    <div class="col-sm-4"> 
      <p>
        <h2>General Programming</h2> <img src="images/program.jpg" style="width: 300px;">
      </p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>